body {
    font-family: 'Inconsolata', monospace;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1a9a267c-4837-43a7-beea-b2767841bb2e/d5l9ask-ca70fd97-4334-4790-bdb8-0a2996179d92.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFhOWEyNjdjLTQ4MzctNDNhNy1iZWVhLWIyNzY3ODQxYmIyZVwvZDVsOWFzay1jYTcwZmQ5Ny00MzM0LTQ3OTAtYmRiOC0wYTI5OTYxNzlkOTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.2Ib0eMLMRkUWoounkC1xD-QPK7s0sdncr1SC7A2iOJg);
    background-repeat: no-repeat;
    background-size: auto;
}
h4 {
    color:gold;
    background-color:cornflowerblue;
}